.app {
  text-align: center;
  min-height: 100vh;
  color: white;
  font-size: large;

  background-color: skyblue;
  background-image: linear-gradient(lightskyblue 60%, green);
  background-size: cover;
  /* padding: 1rem; */
  border: 1px solid #e2e2e2;
  border-radius: 0.5rem;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  border: 1px solid #e2e2e2;
  border-radius: 0.5rem;
  background: lightSkyblue;
  color: dimgray;
}

ul.navList {
  width: 60%;
  display: flex;
  justify-content: space-around;

  list-style: none;
}

ul > navList > li > a {
  text-decoration: none;
  color: dimgray;
}
